doctype html 
html
  head
    meta(charset='utf-8')
    title Chad
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='css/font-awesome/css/font-awesome.css')
    link(rel='stylesheet' type='text/css' href='css/main.css')
    meta(name='theme-color' content='#71A5DA')
    meta(name='msapplication-navbutton-color' content='#71A5DA')
    meta(name='apple-mobile-web-app-status-bar-style' content='#71A5DA')
  body
    section#topbar
      #menu
        a#openmenu
          i.fa.fa-navicon

        a#opendownload Download

    aside#sidebar
      a#close-sidebar.close 
        i.fa.fa-close
      div#logo
        a(href='')
          img(src='img/chad.png')

      div#menu
        a(href='#board') Home
        a(href='#description') Description
        a(href='#developers') Developers

      a.download(href='#download') Download Chad

    section#modal-download
      div#window
        a#close-modal-download.close
          i.fa.fa-close &nbsp;
        h2.title Download Chad
        div.os
          div.name
            a(href="") 
              i.fa.fa-windows
              span  Windows x32
            a(href="") 
              i.fa.fa-windows
              span  Windows x64

          div.name
            a(href="")
              i.fa.fa-linux
              span  Linux x32
            a(href="")
              i.fa.fa-linux
              span  Linux x64

          div.name
            a(href="")
              i.fa.fa-apple
              span  Mac Os x64

          div.name
            a(href="") 
              i.fa.fa-github-alt 
              span  Source code

    section#board
      h1.title Chad
        span.version V3
      div.description Chad this is cool application on telegram
      div.application
        img.app(src='img/main.png')

    section#description
      #description
        h2.title Lorem Ipsum
        div.description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. 

      #image
        img(src='img/main.png')

    section#description
      #image
        img(src='img/main.png') 

      #description
        h2.title Lorem Ipsum
        div.description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    section#developers
      h2#title Developers
      #developer
        img.avatar(src='img/developer.jpg')
        h3.name Nauma
        div.type designer
        a.github(href="") GitHub

      #developer
        img.avatar(src='img/developer.jpg')
        h3.name Nauma
        div.type designer
        a.github(href="") GitHub

      #developer
        img.avatar(src='img/developer.jpg')
        h3.name Nauma
        div.type designer
        a.github(href="") GitHub

      #developer
        img.avatar(src='img/developer.jpg')
        h3.name Nauma
        div.type designer
        a.github(href="") GitHub

    section#download
      a#opendownload.download Download Chad

      .social
        a.fa.fa-vk(href="")
        a.fa.fa-paper-plane(href="")
        a.fa.fa-facebook(href="")
        a.fa.fa-twitter(href="")

      .copyright © 2016 Chad. All Rights Reserved | Design by 
        a(href='https://nauma.github.io/' target='_blank') nauma

    script(src='js/jquery3.js' type='text/javascript')
    script(src='js/coffee/main.js' type='text/javascript')